
.side-bar, .mobile-bar {
  grid-area: sidebar;
  position: sticky; 
  top: 1px; 
  background-color: #fafbfc;
  max-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  justify-content: space-between;
}

.ant-drawer-body{
  padding: 0px;
}

.sidemenu {
  color: #e88081;
  position: relative;
  left: 1.5rem;
}

.sidemenu div {
  padding: 0.5rem 0rem;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

@media (max-width: 760px) {
  .side-bar img {
    width: 50%;
  }
}

/* For Navbar */

.navbar {
  background-color: #db5858;
  padding: 3rem 1rem 2rem 2rem;
  margin-bottom: 1rem;
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* for description */

.intro-div {
  margin: 2rem 2.5rem 7rem 2.5rem;
}

.intro-div .ant-descriptions-title {
  font-size: 26px;
  font-weight: bold;
}

.intro-div .heading{
   margin: 2rem 0rem;
}

.intro-div .label{
  margin-bottom: 0px;
}

.intro-div .desc{
  font-weight: 500;
}

/* for edit client form */

.edit-form{
    max-width: fit-content;
    margin: 1.5rem 3rem;
}



/* for table */
.table-heading{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: large;
  margin: 1rem 3rem;
}


/* profile div */

.profile-div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0rem;
}

.profile-img-div{
  border-radius: 50%;
  width: 2rem;

}

.profile-img-div img{
  width: 100%;
  border-radius: 50%;
  border: 3px solid #db585e;
  cursor: pointer;
}

.username{
  color: #a8a6a6;
  cursor: pointer;
}